.staff_wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.staff {
  display: flex;
  align-items: center;
  color: black;
  position: relative; 
  margin: 0 10px 10px 10px;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  padding: 4px;

}
.staff-dark {color: white;}
.staff.chosen {border-color:darkorange;}

/* .staff:before {
  content: "";
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  position: absolute;
  left: -1px; top: -1px;
  border: 1px solid black;
  border-radius: 10px;
  pointer-events: none;
}
.staff.chosen::before {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px; top: -2px;
  border: 2px solid orangered;
} */

/* .staff::before {
  content: "";
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  position: absolute;
  left: -6px; top: -6px;
  background: green;
  z-index: -2;
  opacity: 0;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
}
.staff.chosen::before,
.staff:hover::before {
  animation: fadeInAndOut 1.5s linear infinite;
} */

.staff * {color: inherit;}

.staff input {
  height: 40px;
  appearance: none;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 6px;
  cursor: pointer;
}
.staff-dark input::placeholder {color: lightgray;}

.staff_remove {
  padding: 8px;
  position: absolute;
  top: 8px; right: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.staff_remove:hover {
  transform: rotate(360deg);
}

.staff_remove span {
  height: 2px;
  width: 100%;
  position: absolute; left: 50%; top: 50%;
  background: black;
  transform: translate(-50%, -50%) rotate(45deg);
}
.staff-dark .staff_remove span {background: white;}
.staff_remove span:first-child {transform: translate(-50%, -50%) rotate(-45deg);}

.staff_color {
  position: relative;
  margin-left: 10px;
}

.staff_color .colorpicker-toggle {
  height: 30px; width: 30px;
  background: url(../../../public/colorpicker.png) center no-repeat;
  background-size: contain;
  cursor: pointer;
  margin-right: 30px;
  transition: transform 0.3s ease;
}
.staff_color .colorpicker-toggle:hover {
  transform: rotate(360deg);
}

.chrome-picker {
  position: absolute;
  top: 100%; left: -96px;
  z-index: 2;
}